td {
    width: 50%;
}
#SH{
    width: 5%;
}
#id{
    width: 10%;

}
#name{
    width: 20%;
}
#pr{
    width: 10%;
}
#gq{
    width: 10%;
}
#ed{
    width: 10%;
    text-align: center;
}
#de{
    width: 10%;
    text-align: center;

}